<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dizord | Dashboard </title>
    <link rel="stylesheet" href="./pagescss/dashboard/dashboard.css">
</head>

<body>
    <main>
        <div class="menu">
            <div class="container-menu">
                <div class="login-usuario">
                    <img src="https://cdn.discordapp.com/avatars/<%= discordId %>/<%= avatar %>.png">
                    <div class="nometag-usuario">
                        <h4>
                            <%= username %>
                        </h4>
                        <p>#<%= discriminator %>
                        </p>
                    </div>
                </div>
                <div class="container-servidores">
                    <h5>Servidores conectados:</h5>
                    <div class="scroll-servidor">
                        <% guilds.forEach(guild=> { %>
                            <a href="#" class="servidor">
                                <img src="https://cdn.discordapp.com/icons/<%= guild.id %>/<%= guild.icon %>.png">
                                <div class="flex-2">
                                    <h6>
                                        <%= guild.name %>
                                    </h6>
                                    <p>Cargo</p>
                                </div>
                            </a>
                        <% }) %>
                    </div>
                </div>
                <form action="/auth/logout">
                    <button type="submit"><img src="./img/Sign_out_squre.svg">
                        <p>sair</p>
                    </button>
                </form>
            </div>
        </div>

        <div class="dashboard">
            
        </div>

    </main>
</body>

</html>