<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dizord | Dashboard </title>
    <link rel="stylesheet" href="./pagescss/dashboard/dashboard.css">
</head>

<body>
    <main>
        <div class="menu">
            <div class="container-menu">
                <div class="login-usuario">
                    <% if (avatar === null) { %>
                        <img src="./img/logobranca.svg">>
                    <% } else { %>
                        <img src="https://cdn.discordapp.com/avatars/<%= discordId %>/<%= avatar %>.png">
                    <% } %>

                    <div class="nometag-usuario">
                        <h4>
                            <%= username %>
                        </h4>
                        <p>#<%= discriminator %>
                        </p>
                    </div>
                </div>
                <div class="container-servidores">
                    <h5>Servidores conectados:</h5>
                    <div class="scroll-servidor">
                        <% guilds.forEach(guild => { %>
                            <% if (guild.owner === true) { %>
                            <a href="#" class="servidor">
                                    <% if(guild.icon === null) { %>
                                        <img src="./img/logobranca.svg">
                                    <% } else { %>
                                        <img src="https://cdn.discordapp.com/icons/<%= guild.id %>/<%= guild.icon %>.png">
                                    <% } %>
                                <div class="flex-2">
                                    <h6>
                                        <%= guild.name %>
                                    </h6>
                                    <% if (guild.owner === true) { %>
                                        <p>Dono</p>
                                    <% } else { %>
                                        <p>Staff</p>
                                    <% } %>
                                </div>
                            </a>
                            <% } %>
                        <% }) %>
                    </div>
                </div>
                <form action="/auth/logout">
                    <button type="submit"><img src="./img/Sign_out_squre.svg">
                        <p>sair</p>
                    </button>
                </form>
            </div>
        </div>
        <!-- fim menu -->
        <div class="dashboard">
            <div class="navegar">
                <div class="links">
                    <a href="#">Home</a>
                    <a href="#">Navegação</a>
                    <a href="#">Diversão</a>
                    <a href="#">Customização</a>
                    <a href="#">Proteção</a>
                    <a href="#">Financeiro</a>
                    <a href="#">VIP</a>
                    <a href="#">Staff</a>
                </div>
            </div>
            <div class="navegacao">

            </div>
        </div>
    </main>

    <script src="./scripts/dashboard/scripts.js"></script>
</body>

</html>